// Colorbook
$green--light: #88f9ae
$green--med: #49745c
$grey--light: #aeb0b2
$grey--med: #514d55
$purple: #4d3f59
$purple--dark: #383140
$purple--darker: #2c2433
$purple--deep: #25202a
$purple--deeper: #211b26

// Portfolio Accents
$thistle: #9063cd
$orange: #f27935
$cyan: #22a7f0
$red: #d42029

// Typography
$base-font-size: 1.6rem
$color: $grey--light
$sans: 'Roboto', sans-serif
$display: 'Abril Fatface', sans-serif

// Design Elements
$box-shadow: 0 0.8rem 1.6rem transparentize(black, 0.8)
$transition: 300ms ease-in-out
