---
layout: post
title: Cultural Asset Maps | David Luhr | Branding and Web Design
description: David Luhr created the branding, web design, and front-end development for the prototype Cultural Asset Maps website to demonstrate arts economic impact.
portfolio-title: Cultural Asset Maps
hook: Demonstrating economic impact in the creative community
link: http://culturalassetmaps.github.io/
order: 3
type: professional
image-top: cultural-asset-maps-mockup-top.png
image-bottom: cultural-asset-maps-mockup-bottom.png
highlight: cyan
contrast: dark
skills:
 - Branding
 - Front-End Development
 - UX Design
---

<figure>
  <img class="image--banner" src="/assets/img/final/cultural-asset-maps-homepage.jpg" alt="Homepage of the Cultural Asset Maps prototype">
  <figcaption class="image__caption">Homepage of the Cultural Asset Maps prototype</figcaption>
</figure>

<section class="text__wrap text__wrap--first">
  <h2>Skills used</h2>
  <ul class="badges">
    {% for skill in page.skills %}
      <li class="badge">{{ skill }}</li>
    {% endfor %}
  </ul>
</section>

<section class="text__wrap">
  <h2>Overview</h2>
</section>

<section class="text__wrap">
  <h2>Problem</h2>
  <p>Westminster College’s Arts Administration program was seeking to better connect its students with the local arts organization community and generate meaningful work for the industry. The program director had a vision to demonstrate the collective economic impact of local organizations to help secure future development funding for non-profits continuously under threat from federal budget cuts. To help gain support from the community, the program needed a prototype cultural asset mapping website to sell the vision of collecting impact data and visually showing the strong presence of the arts in the Salt Lake valley.</p>
</section>

<section class="text__wrap">
  <h2>Audience</h2>
  <p>The prototype website’s primary audiences was local arts administrators who would be attending an annual conference centered on strengthening the community and developing funding for future programming.</p>
</section>

<section class="text__wrap">
  <h2>Constraints</h2>
  <p>As an academic program for a non-profit college, which needed a prototype website to pitch an idea to fellow non-profits, it goes without saying that this project was supported purely my donated time. Following the non-existent budget, the project required free technologies and services to develop the MVP.</p>
</section>

<section class="text__wrap">
  <h2>Process</h2>
  <h3>Design</h3>
  <p>I began the project by first developing the project’s branding. To truly sell the vision of this effort, the prototype needed a full, professional branding identity to increase the likelihood of creating a formal organization to support the project in the future.</p>
  <p>The logo design for Cultural Asset Maps plays on the map motif and also contains the letterforms of C-A-M. The visual language of the site is minimalist and the color palette limited to allow the multi-color dots of the interactive map to have the most affordance.</p>
  {% include cultural-asset-maps-logo.html %}
  <p>The web design followed my usual process of hand sketching and medium/high fidelity mockups. A central focus of the UI is the cultural asset map itself, so any navigation needed to be easily collapsible by user, particularly on mobile, to make room for the map information.</p>
  <p>Although beyond the scope of the live code prototype, I also developed visual mocks of economic impact data collection by the program’s students to further sell the project vision when the idea was pitched by the students at local conferences.</p>
</section>

<figure>
  <img class="image--banner" src="/assets/img/final/cultural-asset-maps-report-mockup.jpg" alt="A mockup of a report screen with aggregate economic impact data">
  <figcaption class="image__caption">Aggregate economic impact data helps sell the vision of the project to community organizations</figcaption>
</figure>

<section class="text__wrap">
  <h3>Development</h3>
  <p>The code prototype leveraged free and adaptable technologies to deliver an MVP that only required my volunteered time. I selected CartoDB as the mapping service of choice, thanks to its customizable theming, ease of data entry, and simple API options.</p>
  <p>The prototype was developed using Pug.JS, SASS, and Gulp.JS to support the front-end development, and it’s code is managed in a dedicated Cultural Asset Maps GitHub repo and account. Furthermore, the prototype itself is hosted on GitHub pages.</p>
</section>

<section class="text__wrap">
  <h2>Results</h2>
  <p>The Arts Administration program students pitched the project’s vision with the prototype site and data reporting screens to local arts organization conferences in the spring of 2016. Their presentations garnered much excitement from the local community, particularly from existing economic development organizations. The project is currently being assessed for future support from community members and opportunities for funding, with an ultimate vision to gradually expand scope to a state and then national level.</p>
</section>

<section class="text__wrap">
  <h2>Retrospective</h2>
  <p>Non-profits and community projects face many challenges with getting support. Often, the stakeholders have little-to-no resources, and rely on support from passionate contributors. These constraints really pushed me to hone in on the true MVP goal of this project, which struck a great balance between just enough functionality to sell the project vision without dedicating too much development to a project with an unknown future.</p>
</section>
