---
layout: post
title: Titan Flash | David Luhr | Branding and Web Design
description: David Luhr is creating the branding and web design for Titan Flash, an upcoming waterproofing product, to bring excitment to a stuffy industry.
portfolio-title: Titan Flash
hook: Bringing excitement to a technical product in a stuffy industry
order: 2
type: professional
image-top: titan-flash-mockup-top.png
image-bottom: titan-flash-mockup-bottom.png
highlight: orange
contrast: dark
skills:
  - UX Design
  - Branding
  - Front-End Development
---

<section class="text__wrap text__wrap--first">
  <h2>Skills Used</h2>
  <ul class="badges">
    {% for skill in page.skills %}
      <li class="badge">{{ skill }}</li>
    {% endfor %}
  </ul>
</section>

<section class="text__wrap">
  <h2>Overview</h2>
</section>

<section class="text__wrap">
  <h2>Problem</h2>
  <p>Titan Flash is an upcoming, innovative product that greatly simplifies and improves the effectiveness of waterproofing windows. The central challenge of developing the branding, marketing, and website for Titan Flash is to take a highly-technical product and make it exciting and approachable in a construction industry riddled with boring spec sheets, white papers, and ultra-serious product demonstrations.</p>
</section>

<section class="text__wrap">
  <h2>Audience</h2>
  <p>Titan Flash is initially targeted for home builders and independent contractors, but will eventually expand scope to be marketed directly to homeowners. These known audiences allow the messaging to assume a strong familiarity with the challenges of easily, reliably, and affordably waterproofing windows. This also provides the opportunity to stand out against competitors who haven’t adapted to the digital age in their marketing strategy, nor differentiate themselves with engaging design and branding.</p>
</section>

<section class="text__wrap">
  <h2>Constraints</h2>
  <p>The main constraint for this project is making the most of a limited branding development budget. As a startup that is investing heavily in R&amp;D for the innovative product, Titan Flash needs a nimble marketing site to announce the product to potential customers and generate hype in the industry.</p>
</section>

<section class="text__wrap">
  <h2>Design Process</h2>
  <p>The design process encompassed the entirety of the products brand—even its name. After workshopping several options for the product name, Titan Flash was chosen to communicate the product’s strength and resilience as a window flashing solution.</p>
  <p>The name set the direction of the logo and resulting visual design system. The warrior helmet and weaponry, bold colors, and flat design aesthetic come together to create a brand that is both trustworthy in its protection and not overly serious or aggressive.</p>
  {% include titan-flash-logo.html %}
  <p>After iterations of sketching and medium fidelity mockups, I created full detail mocks of the website to sell the vision to Titan Flash stakeholders. This mocks were also paired with recommendations for the tone and personality of the messaging, as well as a clear direction for all educational materials and value propositions.</p>
</section>

<figure>
  <img class="image--banner" src="/assets/img/final/titan-flash-mockups.jpg" alt="Mobile and desktop mockups of the Titan Flash marketing site">
  <figcaption class="image__caption">Mobile and desktop mockups of the Titan Flash marketing site to set visual direction and messaging tone</figcaption>
</figure>

<section class="text__wrap">
  <h2>Retrospective</h2>
  <p>Titan Flash is still currently in development as part of a rigorous product testing process. Even though the product’s branding and website are still pending public launch, they set a clear marketing strategy and sales angle for the stakeholders, who are able to generate hype and demand at industry events leading up to the product’s initial release.</p>
</section>
