---
layout: default
title: Work | David Luhr | Web and UX Design | Front-End Development
description: View the web design, UX design, and front-end development work of David Luhr, from website redesigns, to logos, branding, and illustration.
---

<header class="header">
  <div class="header__content">
    <h1>Work</h1>
    <div class="arrow__icon__wrap header__icon header__icon--bottom">
      <a href="#latest" title="Tap to Scroll Down">
        <div class="arrow__icon arrow__icon--down">
          <div class="arrow__icon__chevron arrow__icon__chevron--1"></div>
          <div class="arrow__icon__chevron arrow__icon__chevron--2"></div>
        </div>
      </a>
    </div>
  </div>
</header>
<main class="main">
  <h2 class="text__wrap" id="latest">Latest Project</h2>
  <ul class="portfolio__list clearfix">
    <li class="portfolio__item portfolio__item--left portfolio__item--cobalt">
      <div class="portfolio__feature portfolio__feature--circle {% cycle 'portfolio__feature--left', 'portfolio__feature--right' %}">
        <img src="{{ site.baseurl}}/assets/img/final/build-ux-thumb.png" alt="Thumbnail images of Build UX YouTube videos" class="portfolio__banner">
      </div>
      <a href="{{ site.baseurl}}/build-ux" class="portfolio__link portfolio__link--left" title="Tap to View Project">
        <p class="portfolio__title">Build UX YouTube Channel</p>
        <ul class="badges badges--narrow">
          <li class="badge">Design Systems</li>
          <li class="badge">UX Development</li>
        </ul>
        <div class="arrow__icon__wrap">
          <div class="arrow__icon arrow__icon--right">
            <div class="arrow__icon__chevron arrow__icon__chevron--1"></div>
            <div class="arrow__icon__chevron arrow__icon__chevron--2"></div>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <h2 class="text__wrap">Professional Work</h2>
  {% include professional-list.html %}
  <h2 class="text__wrap">Personal Work</h2>
  {% include personal-list.html %}
</main>
