---
layout: layouts/detail.njk
title: Westminster College Redesign | David Luhr | Web UX Design
description: The redesign of the Westminster College website spanned a year of web and UX design that increased applications by 15% and dropped bounce rate by 22%.
---

<figure class="figure figure--featured">
  <img class="figure__image" src="../../assets/images/westminster-college-current-homepage.jpg" alt="Westminster College homepage (2016)">
  <figcaption class="figure__caption">Redesigned Westminter College homepage (2016)</figcaption>
</figure>

<div class="detail__masthead">
  <h1 class="t-headline detail__headline">Westminster College</h1>
  <p class="detail__subtitle">A redesign of the highest degree</p>
</div>

<h2 class="t-section-heading detail__section-heading">Overview</h2>
<p class="t-body detail__body">I oversaw all aspects of the year-long overhaul for Westminster College's website. My main goal was to solve long-standing content and technical bloat, as well as serious user experience issues. Thanks to an intensive process that addressed these challenges, the new website has facilitated a 15% increase in enrollment applications, as well as a 22% drop in the global bounce rate.</p>

<h2 class="t-section-heading detail__section-heading">Problem</h2>
<p class="t-body detail__body">Westminster College was suffering from declining enrollment and a confused brand identity. Symptomatic of this was the college&rsquo;s website, which had grown over a decade of neglect to almost 9,000 pages of largely abandoned and broken content. Behind the content was an aging, in-house content management system with editing permissions for over 200 individuals. The result of this was an unpredictable information architecture based on internal organizational structure and absent oversight.</p>
<p class="t-body detail__body">In addition to the coat bloat and lacking web governance was an insurmountable backlog of technical debt. The CSS for the site alone had over 14,000 lines of code, with an untraceable web of overwrites, <code>!important</code> flags, and extremely abusive use of specificity in its selectors.</p>
<p class="t-body detail__body">Needless to say, the website had a compromised user experience, riddled with accessibility issues. When I inherited the Senior Web Designer position in mid-2015, the college was definitely feeling the pains of the resulting loss in reputation and usability.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/westminster-college-old-homepage.jpg" alt="Old Westminster College homepage">
  <figcaption class="figure__caption">Old Westminter College homepage</figcaption>
</figure>

<h2 class="t-section-heading detail__section-heading">Audience</h2>
<p class="t-body detail__body">The first priority for reimagining the Westminster College website was to simply ask the organization who the website is truly for. Throughout the institution, individuals made it clear that our work is solely for the students, both prospective and current. However, when reviewing the information architecture and the messaging within, it was obvious that the college had used the website as an internal tool out of convenience to faculty and staff instead of considering our end users.</p>
<p class="t-body detail__body">From these findings, I started the planning for the new website with the following ranking of audiences to drive all information architecture and content strategy decisions going forward:</p>
<ol class="t-body detail__body">
  <li>Prospective students</li>
  <li>Current students</li>
  <li>Alumni/Donors</li>
  <li>Community members</li>
  <li>Faculty and staff</li>
</ol>

<h2 class="t-section-heading detail__section-heading">Constraints</h2>
<p class="t-body detail__body">As the sole full-time staff overseeing the website, I was elated to gain the support of three backend developers whose positions were reorganized to support the website just as I was hired. With no dedicated budget for this project, we set out to eliminate existing subscriptions and services to fund any technology needs relating to the new website.</p>
<p class="t-body detail__body">We quickly knew that we would need to depart entirely from the existing CMS and spend the majority of our time addressing the massive content bloat. As we introduced the organization to Agile/Scrum development sprints, we were given a firm deadline a full year in advance to coincide with the launch of the school&rsquo;s new brand. It was up to us to adapt Agile methodologies and prove to key stakeholders that even with a waterfall deadline, we could launch on-target.</p>

<h2 class="t-section-heading detail__section-heading">Process</h2>
<h3 class="t-sub-heading detail__sub-heading">Content strategy</h3>
<p class="t-body detail__body">The content strategy behind the new website spanned the entire duration of the project, and had the largest share of my time.</p>
<p class="t-body detail__body">I began the discovery process by generating an accurate sitemap of the current site, which revealed only two true layers of content hierarchy: the home page, and then 255 subsites with over 8,900 pages directly below that. I reviewed our existing analytics to identify top tasks and flows to start planning the scope of new, audience-centric hubs. I also manually investigated each subsite within the CMS to find that only 2,000 of the 8,900 pages were actually functional and had content for existing programs and departments.</p>
<p class="t-body detail__body">With 78% of the pages out of the picture, I then went through the very laborious process of auditing each of the remaining 2,000 pages to map out the page structure, pageviews, and date last modified. Armed with a ridiculous spreadsheet arsenal, I then scheduled out dozens of meetings for the coming six months to meet with every content owner across the organization. These meetings were hyper-focused on having each content owner define who their audience was, what their goals were, and then deciding which pages to keep and which were to be left behind.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/westminster-college-content-audit-grid.jpg" alt="Grid of hundreds of spreadsheets in Google Drive">
  <figcaption class="figure__caption">The spreadsheets were verging on insanity</figcaption>
</figure>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/westminster-college-content-audit.jpg" alt="Detail of data in content audit spreadsheet">
  <figcaption class="figure__caption">Each spreadsheet details page structure and relevant metrics</figcaption>
</figure>

<p class="t-body detail__body">Parallel to this painstaking process, I developed an entirely new information architecture for the site based off the new audience rank, and set about scoping out new audience hubs that would need to be created from scratch.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/westminster-college-user-flow.jpg" alt="User flow map for redesigned Westminster College site">
  <figcaption class="figure__caption">User flow mapping proved invaluable in scoping audience-specific content hubs</figcaption>
</figure>

<p class="t-body detail__body">After six months of meeting with content owners, determining what to keep, and then cleaning every line of underlying markup to ensure only valid, semantic, and accessible HTML was going to be migrated, I had managed to consolidate 8,900 pages down to 450 purposeful, student-facing pages of surviving content. To top it off, I got sign-off from leadership to limit access only to the web team. I introduced an open source ticketing system to field website update requests and ensure only trained professionals implemented necessary changes.</p>

<h3 class="t-sub-heading detail__sub-heading">Design</h3>
<h4 class="t-micro-heading detail__micro-heading">Interface inventory</h4>
<p class="t-body detail__body">Mirroring the lack of content strategy and audience focus, the website presented users with an inconsistent visual experience and user interface that compromised the college&rsquo;s reputation. To diagnose this issue directly, I conducted an interface inventory, following the <a class="t-link" href="http://bradfrost.com/blog/post/interface-inventory/" target="_blank" rel="nofollow">process proposed by Brad Frost</a>.</p>
<p class="t-body detail__body">Faced with over 20 different headings, 30 different link styles, 40 different buttons, and dozens of banner images with all ranges of color and typography, it was clear we had a brand identity emergency, caused by a the lack of a visual style guide or proper web governance.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/westminster-college-interface-inventory.jpg" alt="Interface inventory of buttons on the old website with over 40 variations">
  <figcaption class="figure__caption">Old website, why do you have so many buttons??!?</figcaption>
</figure>

<h4 class="t-micro-heading detail__micro-heading">Iterative mockups</h4>
<p class="t-body detail__body">Determined to develop a pattern lab/living style guide, I began the design process as I always do: many, many pen-and-paper sketches, followed by medium fidelity mockups, and finally code prototypes. At every stage, the design language and UI were influenced by the school&rsquo;s parallel rebranding efforts and a drive to create an immersive experience for prospective students to genuinely demonstrate the school&rsquo;s values and offerings.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/westminster-college-mockups.jpg" alt="Various levels of fidelity mockups early in the design process">
  <figcaption class="figure__caption">Mockups at every level of fidelity gradually progressed throughout the project.</figcaption>
</figure>

<p class="t-body detail__body">The overarching design process took on several full iterations as the content strategy and site development took shape. Throughout this progression, I conducted usability tests with current students to ensure any design and UI decisions were intuitive and represented the college experience they loved.</p>

<h3 class="t-sub-heading detail__sub-heading">Development</h3>
<p class="t-body detail__body">We quickly decided to move to an entirely new CMS and do away with the outdated, in-house solution that presented an insurmountable backlog of technical debt. We chose Progress Sitefinity as our CMS of choice to coincide with the three backend developers&rsquo; preference for MVC.NET.</p>
<p class="t-body detail__body">As we familiarized ourselves with the new system, I set up a separate Git repository to handle all of the visual design and interaction of the website. This allowed me to take full advantage of modern front-end tools, including Pug.JS, SASS, and Gulp.JS. Abstracting these aspects of the site development would prove invaluable in the future when we brought several development environments under the same CSS and JS dependencies to unite the UX/UI for all of our web applications.</p>
<p class="t-body detail__body">The entire website was developed with a mobile-first approach to align with our audiences&rsquo; heavy uses of phones as their preferred device. I developed the site with a SMACSS mindset, modularizing all components of the UI and design language to support the future creation of a true pattern library. I also refactored both Bootstrap and Sitefinity CSS source files to only import necessary modules, reduce server requests, and improve load times.</p>

<h2 class="t-section-heading detail__section-heading">Results</h2>
<p class="t-body detail__body">After of year of intensive work, weekly sprints, and hundreds of Scrum cards moved to the “Done” pile, we launched the new Westminster College on September 30, 2016, exactly on-target.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/westminster-college-current-homepage.jpg" alt="Current Westminster College homepage">
  <figcaption class="figure__caption">Current Westminter College homepage</figcaption>
</figure>

<p class="t-body detail__body">Just two days after launch, when such a dramatic shift to a new website should have been extremely disruptive, we received record conversions in our admission CRM. This early win was great validation for the project, but the true work of the site was only just beginning. We continue to introduce improvements and new features at the end of every weekly sprint, directly prioritized by our users&rsquo; needs and conversion metrics.</p>
<p class="t-body detail__body">Westminster College has enjoyed a 15% increase in applications across all segments for the upcoming academic year, and the website&rsquo;s new user experience has driven the global average bounce rate down an average of 22% across all pages.</p>

<h2 class="t-section-heading detail__section-heading">Retrospective</h2>
<p class="t-body detail__body">This project was wildly successful and the overarching planning and strategy served us well without any serious hiccups. The grueling content audit and migration process was a necessary pain to address the largest issues of the old website.</p>
<p class="t-body detail__body">After restricting editing access to a small team of trusted content managers who all have development experience, I&rsquo;m not sure we would have gone with a CMS at all if we knew we could take the web governance in this direction. As a result, we began investigating various combinations of static site generators (Jekyll), templating engines (Pug.JS, Handlebars.JS), and front-end frameworks (React, Angular) as possible approaches for a future, CMS-less version of the website.</p>
