//	Headings
h1, h2, h3, h4, h5, h6
  color: $grey--light
  font-family: $heading-font-family

h1
  color: $green--light
  font-size: 3rem
  line-height: 1.2

h2
  font-size: 1.6rem

// Basic Text Style
p
  margin: 0 0 2rem 0
