---
layout: layouts/detail.njk
title: PROBAR | David Luhr | Packaging Design and Responsive Email
description: David Luhr created packaging design for PROBAR bite and BASE flavors, while also developing responsive emails that drove record eCommerce sales.
---

<div class="detail__masthead">
  <h1 class="t-headline t-uppercase detail__headline">Probar</h1>
  <p class="detail__subtitle">Taking eCommerce, email marketing, and packaging design in-house</p>
</div>

<h2 class="t-section-heading detail__section-heading">Problem</h2>
<p class="t-body detail__body"><span class="t-uppercase">Probar</span> has enjoyed over a decade of double-digit growth, year-over-year. As a local manufacturer of vegan, organic meal replacement bars, its products had the quality to drive sales with barely any marketing. As the company set scope on expanding to new regional distributors and diversifying its product lineup, it faced a dire need for a dedicated marketing team and complete control over eCommerce sales.</p>

<h2 class="t-section-heading detail__section-heading">Audience</h2>
<p class="t-body detail__body"><span class="t-uppercase">Probar</span>&rsquo;s main eCommerce customers are athletes, hikers, climbers, and all-around nature and health enthusiasts. Over the prior decade, the company had gradually built a list of 10,000 email subscribers from this audience.</p>

<h2 class="t-section-heading detail__section-heading">Constraints</h2>
<p class="t-body detail__body">I started at <span class="t-uppercase">Probar</span> as the second member of the new marketing team. Because <span class="t-uppercase">Probar</span> previously relied heavily on word-of-mouth of inside sales to drive growth, the marketing team was given a very small budget to test the waters. Any eCommerce products and data services needed to demonstrate a strong ROI to the leadership.</p>

<h2 class="t-section-heading detail__section-heading">Process</h2>
<h3 class="t-sub-heading detail__sub-heading">Design</h3>
<p class="t-body detail__body">My design process at <span class="t-uppercase">Probar</span> took advantage of my traditional graphic design and fine arts background, but also acted as the catalyst for my deep interest in UX design and web development.</p>
<p class="t-body detail__body">Core design projects centered around sales deliverables and packaging design, but quickly expanded to encompass the new in-house eCommerce website experience and email marketing campaigns.</p>
<p class="t-body detail__body">Using my trusty Wacom tablet, I illustrated the hero artwork for two new flavors of <span class="t-uppercase">Probar</span>&rsquo;s protein bar line, BASE. Fair warning: drawing photorealistic chocolate swirls all day will make you hungry. I also designed all of the Target-exclusive packaging for <span class="t-uppercase">Probar</span>&rsquo;s newest product line, bite, which are stocked on shelves nationwide.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/probar-packaging-design.jpg" alt="Packaging design examples for Probar products">
  <figcaption class="figure__caption">Target packaging for bite (left), and hero artwork illustrations for <span class="t-uppercase">BASE</span> flavors (right)</figcaption>
</figure>

<p class="t-body detail__body">Other highlight projects inlcude refreshing the company&rsquo;s main style guide, as well as designing a photo style guide to improve the quality of imagery generated by <span class="t-uppercase">Probar</span>&rsquo;s growing brand ambassador team.</p>

<h3 class="t-sub-heading detail__sub-heading">Development</h3>
<p class="t-body detail__body">Most of my development work at <span class="t-uppercase">Probar</span> revolved around email marketing and increasing the subscriber base with CRO strategies, A/B testing, and improved user flow from marketing site to eCommerce experience.</p>
<p class="t-body detail__body"><span class="t-uppercase">Probar</span>&rsquo;s existing email newsletter was text-heavy, not responsive, and was treated as more of a narrative update about the company instead of driving users to stock up on product. Diving into the table-based layouts of yesteryear, I took advantage of Litmus Builder and Litmus compatibility testing to develop mobile-first HTML emails with responsive images and a conversion-minded content strategy. Using MailChimp as the email marketing system of choice, I implemented subscriber segmentation, A/B testing, and incentivized subscription forms to drive further engagement.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/probar-html-email.jpg" alt="Mockups of repsonsive HTML emails">
  <figcaption class="figure__caption">Mobile-first HTML emails with responsive images drove record eCommerce sales</figcaption>
</figure>

<h2 class="t-section-heading detail__section-heading">Results</h2>
<p class="t-body detail__body">My email marketing campaigns averaged a 30% open rate, 10% click-through rate, and generated record eCommerce sales for the company. During my time with the company, we nearly doubled our subscribers from 10,000 to 18,000&mdash;all without seeing a reduction in conversion.</p>
<p class="t-body detail__body">The launches of new flavors and product lines were a success for <span class="t-uppercase">Probar</span>, and I still come across artwork and packaging I created on store shelves, sending me into flashbacks of meticulously illustrating reflections in individual bubbles of coffee.</p>

<h2 class="t-section-heading detail__section-heading">Retrospective</h2>
<p class="t-body detail__body">My work with <span class="t-uppercase">Probar</span> validated my persona-driven approach to content strategy and CRO, and also pushed me fully into web design and development. I&rsquo;m grateful to have focused my early development career on HTML email, as it grounded me in the importance of performance optimization, mobile-first development, compatibility testing, and the joys of modern HTML and CSS.</p>
<p class="t-body detail__body">It&rsquo;s rare to find newer developers who have a full appreciation for our modern frameworks and tools. But, anyone who's developed emails will have deeper respect for seasoned developers who endured the table-cell chaos of the earlier web.</p>
