<li class="portfolio__item portfolio__item--{% cycle 'left', 'right' %} portfolio__item--{{ work-item.highlight }}">
  <div class="portfolio__feature {% cycle 'portfolio__feature--left', 'portfolio__feature--right' %}">
    <img src="{{ site.baseurl}}/assets/img/{{ work-item.image-top }}" alt="" class="portfolio__img portfolio__img--top portfolio__img--{% cycle 'left', 'left', 'right', 'right' %}">
    <img src="{{ site.baseurl}}/assets/img/{{ work-item.image-bottom }}" alt="" class="portfolio__img portfolio__img--bottom portfolio__img--{% cycle 'left', 'left', 'right', 'right' %}}">
  </div>
  <a href="{{ work-item.url }}" class="portfolio__link portfolio__link--{% cycle 'left', 'right' %}" title="Tap to View Project">
    <p class="portfolio__title">{{ work-item.title }}</p>
    <ul class="badges">
      {% for skill in work-item.skills %}
        <li class="badge">{{ skill }}</li>
      {% endfor %}
    </ul>
    <div class="arrow__icon__wrap">
      <div class="arrow__icon arrow__icon--right">
        <div class="arrow__icon__chevron arrow__icon__chevron--1"></div>
        <div class="arrow__icon__chevron arrow__icon__chevron--2"></div>
      </div>
    </div>
  </a>
</li>
