---
layout: layouts/about.njk
title: About | David Luhr | Expert HTML, CSS, JS, accessibility, UX design
description: Learn about David Luhr's work in HTML, CSS, JS accessibility, and UX design. David's process follows simplicity, web standards, and progressive enhancement.
---

<div class="profile-image">
  <img class="profile-image__image" src="/assets/images/david-luhr-profile.jpg" alt="">
</div>

<div class="detail__masthead">
  <h1 class="t-headline detail__headline">About David Luhr</h1>
</div>

<h2 class="t-section-heading detail__section-heading">Contact me</h2>
<div class="contact profile-contact">
  <a class="t-body t-link" href="https://linkedin.com/in/davidluhr" target="_blank" rel="nofollow">linkedin.com/in/davidluhr</a>
  <a class="t-body t-link" href="https://twitter.com/david_luhr" target="_blank" rel="nofollow">twitter.com/david_luhr</a>
  <a class="t-body t-link" href="https://youtube.com/buildux" target="_blank" rel="nofollow">youtube.com/buildux</a>
  <a class="t-body t-link" href="https://github.com/davidluhr" target="_blank" rel="nofollow">github.com/davidluhr</a>
</div>

<h2 class="t-section-heading detail__section-heading">My background</h2>
<p class="t-body detail__body">I&rsquo;m a huge fan of semantic HTML, maintainable CSS, responsible JavaScript, and accessibility. Everything I make is based on core principles of accessibility first, universal design, essentialism, and progressive enhancement.</p>

<p class="t-body detail__body">I&rsquo;m currently UX Development Manager at <a class="t-link" href="https://dockyard.com" target="_blank" rel="nofollow">DockYard, a fully-remote digital product agency</a>, where I lead UX development and product design teams. I was previously a UX Developer and worked closely with design, engineering, and QA teams to build complex and accessible UI. My projects have centered on building and maintaining robust design systems and architecting performant markup and styles that scale.</p>

<p class="t-body detail__body">Before DockYard, I was Senior Web Designer and then UX Lead at Westminster College, in Salt Lake City, Utah. I oversaw Westminster&rsquo;s UX design, front-end development, accessibility, content strategy, and web governance. In these roles, I sketched, mocked-up, prototyped, coded, and user-tested designs. I also conducted user research to inform information hierarchy and UI design. These cumulative efforts produced a 15% increase in academic applications and a 22% drop in global average bounce rate.</p>

<p class="t-body detail__body">Outside of my full-time role, I create videos for <a class="t-link" href="https://youtube.com/buildux" target="_blank" rel="nofollow">my YouTube channel, Build UX</a>, which focuses on expert HTML, CSS, JavaScript, accessibility, and designer-developer collaboration. Each video series focuses on refining designs in Figma and taking them from static mockups to robust and accessible user experiences.</p>

<h2 class="t-section-heading detail__section-heading">About this site</h2>
<p class="t-body detail__body">My portfolio site is a showcase of my favorite tools and approaches, with a focus on accessibility and simplicity that doesn&rsquo;t compromise on polished visuals.</p>

<p class="t-body detail__body">I used Figma for the design, and the evolving <a class="t-link" href="https://www.figma.com/file/YpGDWDtT5XAQTIZG9t3dsPn1/Visual-Explorations" target="_blank" rel="nofollow">design files are open-source for public viewing</a>. My design process focuses on componentization with a design system structure based on <a class="t-link" href="https://atomicdesign.bradfrost.com" target="_blank" rel="nofollow">Brad Frost&rsquo;s Atomic Design</a>.</p>

<p class="t-body detail__body">The <a class="t-link" href="https://github.com/davidluhr/david-luhr-portfolio" target="_blank" rel="nofollow">code for this site is also open-source</a>. I used <a class="t-link" href="https://www.11ty.dev/" target="_blank" rel="nofollow">Eleventy</a>, a simple static site generator, which allows me to write semantic HTML with no bloat and no JavaScript bundle. I considered using <a class="t-link" href="https://sapper.svelte.dev/" target="_blank" rel="nofollow">Sapper</a>, the official framework for Svelte, due to its conveniences and very small compile size, but found that the SPA-like routing was inaccessible. Although I would prefer to take advantage of components wherever possible, I decided a flat-file-esque approach with Eleventy was the best choice for a universally great user experience.</p>

<p class="t-body detail__body">On the styling side, I opted for a single CSS stylesheet without any pre- or post-processor dependencies, and took advantage of CSS custom properties (variables) and CSS Grid throughout. I faithfully followed <a class="t-link" href="https://en.bem.info/" target="_blank" rel="nofollow">BEM methodology</a> for class naming, save for some instances of algorithmic layout inspired by <a class="t-link" href="https://every-layout.dev/layouts/stack/" target="_blank" rel="nofollow">Every Layout&rsquo;s Stack component</a>. To optimize performance, I progressively enhance the typography to use variable fonts if they are supported.</p>

<p class="t-body detail__body">I had an opportunity to employ some of my favorite accessibility and usability patterns. All interactive elements have custom, dedicated focus styles and are fully keyboard accessible. Card elements use <a class="t-link" href="https://inclusive-components.design/cards/" target="_blank" rel="nofollow">Inclusive Component&rsquo;s pseudo-content trick</a> to ensure link text is unique. The light and dark theming detects the user&rsquo;s preferred OS color scheme to provide a sensible default, while still allowing for customization. For elements that rely on hover/focus states to reveal content, I have a fallback-first approach of showing all content by default, and only enhance the experience if I detect hover is a supported device interaction.</p>

<p class="t-body detail__body">As a fan of the Rule of Least Power, I refrained from writing JavaScript unless it was needed for an optional enhancement. I only used JavaScript to create a simple state machine that handles toggling the light and dark themes. The state machine is inspired by <a class="t-link" href="https://xstate.js.org/" target="_blank" rel="nofollow">David Khourshid&rsquo;s XState library</a>, but is a simple, dependency-free implementation.</p>

<p class="t-body detail__body">Lastly, this website does not have any analytics or tracking. Enjoy!</p>
