.footer
  align-items: center
  background-color: $purple--deep
  bottom: 0
  box-shadow: $box-shadow
  display: flex
  flex-flow: row wrap
  justify-content: center
  overflow: hidden
  padding: 4rem 0 2rem
  position: absolute
  text-align: center
  width: 100%
