---
layout: layouts/detail.njk
title: Westminster College HTML Email | David Luhr | Engineer
description: David Luhr engineered the mobile-first HTML email development environment for Westminster College, which generated high conversion with millions of sends.
---

<figure class="figure figure--featured">
  <img class="figure__image" src="../../assets/images/westminster-email-collage.jpg" alt="Mockup of Build UX homepage">
  <figcaption class="figure__caption">Samples of final emails</figcaption>
</figure>

<div class="detail__masthead">
  <h1 class="t-headline detail__headline">Westminster College email</h1>
  <p class="detail__subtitle">Engineering complex layouts for mobile email</p>
</div>

<h2 class="t-section-heading detail__section-heading">Overview</h2>
<p class="t-body detail__body">I was the lead developer of Westminster College&rsquo;s new email templating environment. My main goal was to create a design component library that encourages strong reusability across 6 complex layouts, with a focus on mobile-first design, bulletproof compatibility across all email clients, and striking visuals.</p>

<h2 class="t-section-heading detail__section-heading">Problem</h2>
<p class="t-body detail__body">Westminster College migrated to a new enrollment CRM in 2016. With this migration came a steep learning curve for the enrollment team and the pains of starting anew with no existing email templates or communication flows.</p>
<p class="t-body detail__body">Over the following year, the team introduced stop-gap measures to communicate with prospective students while focusing on improving productivity in the new CRM. After successfully launching and rapidly iterating on the current marketing website for the college, I shifted focus to tackling the enrollment team&rsquo;s email marketing needs.</p>

<h2 class="t-section-heading detail__section-heading">Audience</h2>
<p class="t-body detail__body">A new email development environment and template suite would add value to all prospective student audiences, responsive emails, but we needed to prioritize our largest audience for the initial launch.</p>
<p class="t-body detail__body">High school students, non-traditional students, and other individuals who would be starting their first-year undergraduate studies at Westminster were the sole audience for this project, with more niche audiences to follow in future projects.</p>
<p class="t-body detail__body">We assumed this audience would mainly view emails on mobile devices, particularly on iPhones. We also knew that the emails needed to be vastly different and more visually striking than those of competitor institutions, so image-rich, narrative experiences were essential.</p>

<h2 class="t-section-heading detail__section-heading">Constraints</h2>
<p class="t-body detail__body">With the spring 2017 academic semester coming to a close, we were left with only the summer months to build, test, and launch all emails by mid-August in advance of the enrollment season.</p>
<p class="t-body detail__body">As the sole full-time staff with experience in coding HTML email, I needed to quickly create a development environment to make building hundreds of image-rich, complex emails as efficient and sustainable as possible.</p>
<p class="t-body detail__body">Although I lead UX and UI design at Westminster, this project was unique in that the target visuals for the emails were designed by an outside branding agency. This proved to introduce some unique challenges, as the designs were created without fully understanding the limitations of email clients and table-based layouts. The designs were also handed over in a waterfall fashion, without the opportunity to iterate in parallel in my preferred flavor of Agile/Scrum project management. However, I was excited to try and push HTML email to its limits and see if the vision for our email marketing could become reality.</p>

<h2 class="t-section-heading detail__section-heading">Process</h2>
<h3 class="t-sub-heading detail__sub-heading">Researching frameworks</h3>
<p class="t-body detail__body">Having a component-driven codebase with a templating language well-suited for HTML email was a priority as I started researching potential approaches.</p>
<p class="t-body detail__body">I dove deep into the work of Dan Denney, who is widely regarded as an expert in modern HTML email development. I poured through his <a class="t-link" href="https://github.com/dandenney/emayll" target="_blank" rel="nofollow">emayll</a> and <a class="t-link" href="https://github.com/dandenney/eMMail" target="_blank" rel="nofollow">eMMail</a> repos on GitHub to see how he modified the Jekyll and Middleman static-site generators for his email development needs.</p>
<p class="t-body detail__body">From here, I built several experimental projects with various static-site generator solutions, familiarizing myself with each solution&rsquo;s syntax, featureset, and limitations.</p>
<p class="t-body detail__body">After struggling to find a great fit for this project&rsquo;s needs, I was thrilled to discover <a class="t-link" href="https://foundation.zurb.com/emails.html" target="_blank" rel="nofollow">Zurb&rsquo;s Foundation for Emails</a> framework. This framework offered the perfect balance of extensibility and magic, allowing me to quickly develop email components and templates while taking care of automatically generating the resultingly nightmarish HTML of table-based layouts.</p>
<h3 class="t-sub-heading detail__sub-heading">Gridding</h3>
<p class="t-body detail__body">With ambitious target visuals for the primary templates, I first had to carefully plan the underlying table structure of each layout. I started by blocking the major layout components, and then breaking down their internal structure. Although I wasn&rsquo;t sure if such complex, responsive layouts could be achieved in HTML email, this step in the process proved invaluable when I had to start coding.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/westminster-email-gridding.jpg" alt="Overlaying grids on design mockups to visualize layout structure">
  <figcaption class="figure__caption">Gridding each component to plan row and column structure helped immensely</figcaption>
</figure>

<h3 class="t-sub-heading detail__sub-heading">Development</h3>
<p class="t-body detail__body">I focused development on building each design component, from most complex to least complex, which I could then reuse across multiple templates. Following the gridding exercise, the footer proved to be the most complex, with asymmetrical columns, a tiled image background variant, and sub-grids of contact information and social media icons.</p>
<p class="t-body detail__body">Next, I tackled some of the template-specific content bodies, which introduced new challenges, such as a tiled logo background along the full height of the content, a &ldquo;watermark&rdquo; logo beneath another content body, and unique typographic layouts and treatments for headlines.</p>
<p class="t-body detail__body">With each of these initial explorations, I started to grasp workarounds for achieving these complex mobile-first, responsive layouts within table-based code. Thanks to Foundation for Email&rsquo;s abstraction of the final HTML code, I was able to code the layouts much more manageable components and focus on composition instead of table cell quirks.</p>
<p class="t-body detail__body">After completing proof-of concept versions of the image grids and call-to-action features, I had arrived at a set of flexible templates and components that could be conveniently recombined to build any of our planned emails.</p>
<p class="t-body detail__body">With the help of our backend developers, we cloud hosted the flat-file build of the development codebase with continuous delivery to show the templates and latest emails to internal stakeholders. We also introduced some custom Gulp tasks to optimize images, expose each email&rsquo;s final source code, and pipe completed emails into our CRM via an API.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/westminster-email-deployment.jpg" alt="HTML email deployment website">
  <figcaption class="figure__caption">The static site provides navigation to view all current versions of templates, communication flow maps, and individual emails</figcaption>
</figure>

<h3 class="t-sub-heading detail__sub-heading">Compatability testing</h3>
<p class="t-body detail__body">Once I had confirmed that each layout was indeed possible in HTML email, I used <a class="t-link" href="https://litmus.com/" target="_blank" rel="nofollow">Litmus</a> to test each template and layout component across all 70+ available email clients. To my surprise, there were only a handful of CSS bugs and layout issues to resolve, thanks to Foundation for Emails&rsquo; underlying magic in generating robust and clean markup.</p>
<p class="t-body detail__body">After a half-day of cleanup, compatibility testing was complete, and we spent the following 6 weeks of the project building each stage of the communication flow in weekly sprints.</p>

<h2 class="t-section-heading detail__section-heading">Results</h2>
<p class="t-body detail__body">The first-year undergraduate communication flow launched on-target successfully in August 2017. Since then, the emails created in this new development environment have had millions of sends to prospective students, and have generated open, click-through, and conversion rates well above industry standards.</p>
<p class="t-body detail__body">Our assumptions about our audience were confirmed by device and client analytics, generated by our cloud image-hosting service. A full 70% of all emails were being viewed on iPhones in the native mail client, with the remaining viewership primarily through Apple Mail in Mac OSX.</p>

<h3 class="t-sub-heading detail__sub-heading">Final templates</h3>
<h4 class="t-micro-heading detail__micro-heading">Template 1</h4>
<figure class="figure">
  <img class="figure__image figure__image--narrow" src="../../assets/images/westminster-email-template-1.jpg" alt="HTML email template 1">
  <figcaption class="figure__caption">Template 1 is mainly for transactional emails</figcaption>
</figure>

<h4 class="t-micro-heading detail__micro-heading">Template 2</h4>
<figure class="figure">
  <img class="figure__image figure__image--narrow" src="../../assets/images/westminster-email-template-2.jpg" alt="HTML email template 2">
  <figcaption class="figure__caption">Template 2 leverages testimonials to support key value propositions</figcaption>
</figure>

<h4 class="t-micro-heading detail__micro-heading">Template 3</h4>
<figure class="figure">
  <img class="figure__image figure__image--narrow" src="../../assets/images/westminster-email-template-3.jpg" alt="HTML email template 3">
  <figcaption class="figure__caption">Template 3 is visually the most involved and is perfect for narrative messaging</figcaption>
</figure>

<h2 class="t-section-heading detail__section-heading">Retrospective</h2>
<p class="t-body detail__body">This project was hugely successful and exceeded my expectations for what was possible with widely-compatible HTML email layouts. The templates I built in this project are genuinely some of the most complicated that I&rsquo;ve seen, and definitely set our email marketing apart from very traditional competitors.</p>
<p class="t-body detail__body">Having a templating architecture was the perfect solution for sustainable email development. The codebase has proven to scale well as we&rsquo;ve moved on to additional audiences and also built one-off email series more reactively.</p>
<p class="t-body detail__body">The Zurb team deserves major recognition for creating such an incredibly useful framework for email development. Building a new email from scratch requires little more than some top-matter variables and only a few include statements around the actual copy, but the final result is hundreds of lines of complex table elements and inline styles.</p>
