---
layout: layouts/detail.njk
title: Titan Flash | David Luhr | Branding and Web Design
description: David Luhr created the branding and web design for Titan Flash, a prospective waterproofing product, to bring excitment to a stuffy industry.
---

<div class="detail__masthead">
  <h1 class="t-headline detail__headline">Titan Flash</h1>
  <p class="detail__subtitle">Bringing excitement to a technical product in a stuffy industry</p>
</div>

<h2 class="t-section-heading detail__section-heading">Problem</h2>
<p class="t-body detail__body">Titan Flash was an upcoming, innovative product that greatly simplifies and improves the effectiveness of waterproofing windows. The central challenge of developing the branding, marketing, and website for Titan Flash was to take a highly-technical product and make it exciting and approachable in a construction industry riddled with boring spec sheets, white papers, and ultra-serious product demonstrations.</p>

<h2 class="t-section-heading detail__section-heading">Audience</h2>
<p class="t-body detail__body">Titan Flash is initially targeted for home builders and independent contractors, but will eventually expand scope to be marketed directly to homeowners. These known audiences allow the messaging to assume a strong familiarity with the challenges of easily, reliably, and affordably waterproofing windows. This also provides the opportunity to stand out against competitors who haven&rsquo;t adapted to the digital age in their marketing strategy, nor differentiate themselves with engaging design and branding.</p>

<h2 class="t-section-heading detail__section-heading">Contraints</h2>
<p class="t-body detail__body">The main constraint for this project is making the most of a limited branding development budget. As a startup that is investing heavily in R&amp;D for the innovative product, Titan Flash needs a nimble marketing site to announce the product to potential customers and generate hype in the industry.</p>

<h2 class="t-section-heading detail__section-heading">Design process</h2>
<p class="t-body detail__body">The design process encompassed the entirety of the products brand—even its name. After workshopping several options for the product name, Titan Flash was chosen to communicate the product&rsquo;s strength and resilience as a window flashing solution.</p>
<p class="t-body detail__body">The name set the direction of the logo and resulting visual design system. The warrior helmet and weaponry, bold colors, and flat design aesthetic come together to create a brand that is both trustworthy in its protection and not overly serious or aggressive.</p>
<svg class="detail__artifact" viewBox="0 0 480 480" width="480" height="480" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <path fill="#68819F" d="M269.4 149.84l.21-.21-17.944-17.945-17.273 17.274c-28.16 6.888-49.295 31.67-50.67 61.614.05-1.017.122-2.028.213-3.033.2 2.187.51 4.34.915 6.46h-.686l-.448-.448-.448.448H183v.268l-17.23 17.23L183 248.725v81.2L207.933 355H208v-34.61l.276.277 17.945-17.945-17.944-17.945-.276.276v-32.165a66.333 66.333 0 0031 14.178V331h24v-64.18c28.75-5.56 50.904-29.605 53.62-59.275-2.507-27.43-21.63-50.048-47.22-57.705z"/>
  <path fill="#476380" d="M317 214.21V214h-.096c0-.107.008-.212.008-.32 0-2.07-.107-4.116-.292-6.14a66.26 66.26 0 01-.92 6.478 65.935 65.935 0 01-3.277 11.426c0 .002 0 .005-.002.007a65.039 65.039 0 01-1.03 2.496c-.037.084-.07.17-.106.254-.35.796-.72 1.58-1.102 2.36l-.15.32c-.38.77-.78 1.528-1.19 2.28-.06.11-.114.22-.174.327-.415.754-.85 1.498-1.292 2.233-.06.1-.116.2-.177.3a69.395 69.395 0 01-1.404 2.198c-.057.085-.112.172-.17.258-.49.733-1 1.455-1.52 2.167l-.15.21a69.32 69.32 0 01-1.64 2.133c-.044.053-.085.107-.128.16-.573.71-1.16 1.41-1.76 2.096l-.1.115c-.614.697-1.24 1.38-1.882 2.052l-.07.072c-.65.68-1.315 1.345-1.995 1.997l-.045.043a69.843 69.843 0 01-2.104 1.932l-.02.02a69.66 69.66 0 01-2.208 1.856c-11.42 9.19-25.923 14.705-41.724 14.705-34.73 0-63.24-26.573-66.342-60.495a67.342 67.342 0 00-.293 6.14c0 36.708 29.684 66.477 66.357 66.627V331h13v-51.913a66.337 66.337 0 0029-13.467v19.756l-17.346 17.346L292 320.067v33.873l25-24.733v-80.424l17.286-17.286L317 214.21z"/>
  <path fill="#68819F" d="M250.5 94.373c-4.65 0-9.5-3.77-9.5-8.422V37.11c0-4.65 4.85-8.42 9.5-8.42s9.5 3.77 9.5 8.42v48.84c0 4.653-4.85 8.423-9.5 8.423zm1 376.265c-4.65 0-9.5-3.77-9.5-8.42v-48.845c0-4.65 4.85-8.422 9.5-8.422s9.5 3.772 9.5 8.423v48.845c0 4.65-4.85 8.42-9.5 8.42zM108.587 176.836a8.365 8.365 0 01-4.202-1.13l-42.192-24.36a8.42 8.42 0 01-3.082-11.503 8.422 8.422 0 0111.504-3.082l42.192 24.36a8.422 8.422 0 01-4.22 15.716zm326.75 186.834a8.358 8.358 0 01-4.202-1.13l-42.19-24.357a8.419 8.419 0 01-3.084-11.503 8.423 8.423 0 0111.504-3.083l42.192 24.358a8.422 8.422 0 01-4.22 15.714zM67.197 365.03a8.421 8.421 0 01-4.218-15.715l42.19-24.36a8.422 8.422 0 018.422 14.586L71.4 363.902a8.38 8.38 0 01-4.203 1.128zm325.178-189.554c-2.91 0-5.74-1.51-7.3-4.212a8.419 8.419 0 013.082-11.503l42.19-24.36a8.424 8.424 0 0111.504 3.084 8.422 8.422 0 01-3.08 11.504l-42.193 24.36a8.401 8.401 0 01-4.202 1.128z"/>
</svg>
<p class="t-body detail__body">After iterations of sketching and medium fidelity mockups, I created full detail mocks of the website to sell the vision to Titan Flash stakeholders. This mocks were also paired with recommendations for the tone and personality of the messaging, as well as a clear direction for all educational materials and value propositions.</p>

<figure class="figure">
  <img class="figure__image" src="../../assets/images/titan-flash-mockups.jpg" alt="Mobile and desktop mockups of the Titan Flash marketing site">
  <figcaption class="figure__caption">Mobile and desktop mockups of the Titan Flash marketing site to set visual direction and messaging tone</figcaption>
</figure>

<h2 class="t-section-heading detail__section-heading">Retrospective</h2>
<p class="t-body detail__body">The product&rsquo;s branding and website set a clear marketing strategy and sales angle for the stakeholders, who were able to generate hype and demand at industry events. After continued development as part of a rigorous product testing process, the stakeholders eventually decided to put Titan Flash on hold.</p>
