<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.baseurl }}/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/img/favicons/safari-pinned-tab.svg" color="#4d3f59">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico?v=1">
    <meta name="msapplication-config" content="{{ site.baseurl }}/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#88f9ae">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  </head>
  <body>
    {% include google-analytics.html %}
    {% include nav.html %}
    {{ content }}
    <footer class="footer">
      <div class="footer__plate"></div>
      <div class="footer__text">
        <p><small>David Luhr | Web and UX Design | Front-End Development</small></p>
        {% include social.html %}
        <p><small>&copy; 2017 David Luhr</small></p>
      </div>
    </footer>
    <script src="{{ site.baseurl }}/assets/js/main.min.js">
    </script>
  </body>
</html>
