<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list__item"><a href="{{ site.github.url }}/work" class="nav__link {% if page.url contains 'work' %}current{% endif %}">Work</a></li>
        <li class="nav__list__item"><a href="{{ site.github.url }}/" class="nav__link logo">Luhr.co</a></li>
        <li class="nav__list__item"><a href="{{ site.github.url }}/about" class="nav__link {% if page.url contains 'about' %}current{% endif %}">About</a></li>
      </ul>
    </nav>
    {{ content }}
    <footer class="footer">
      <p>
        David Luhr<br />
        Web and UX Design | Front-End Development<br />
        <a href="mailto:davidc.luhr@gmail.com">davidc.luhr@gmail.com</a>
      </p>
    </footer>
  </body>
</html>
