.header
  background: $purple--deep
  box-shadow: $box-shadow
  margin-bottom: 6rem
  padding: 4rem
  position: relative

  &__icon
    bottom: 0
    left: 6.7rem
    margin-right: 0
    position: absolute
    transform: translate(-50%, 1.8rem)

  &--thistle
    background: $thistle

  &--orange
    background: $orange

  &--cyan
    background: $cyan

  &--red
    background: $red
